@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito', system-ui, sans-serif;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 1s ease-in-out infinite;
}